<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Beavers.Properties.Settings.BeaversAdminConnectionString"
            connectionString="Data Source=B602-007\SQLEXPRESS;Initial Catalog=BeaversAdmin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>